@font-face {
  font-family: "Ailerons";
  src: url("../fonts/Ailerons.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Aileronsd41d.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Ailerons.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Ailerons.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/Ailerons.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Ailerons.svg#Ailerons")
      format("svg"); /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.navbar {
  /* background: linear-gradient(-90deg, #000000 0%, #cbcbcb 38%, #ffffff 100%); */
  padding: 10px 0;
}

.navbar-toggler {
  outline: none !important;
  margin-right: 30px;
  color: black !important;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

.nav-link {
  padding: 5px 20px !important;
}

.navbar-brand img {
  height: 40px;
  margin-left: 10px;
}

/* ----------------- home section css------------------------- */

#Home img {
  max-width: 350px;
  height: auto;
  width: 100%;
  display: flex;
  margin-right: 0;
  float: right;
}

.social-profiles {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 30%;
}

.social-profiles a {
  color: #303030;
}

.black-border {
  height: 3px;
  width: 100%;
  background: linear-gradient(
    -90deg,
    #fff 4%,
    #ff3c3c 15%,
    #e6ff04 30%,
    #27ff7a 45%,
    #29e2fa 65%,
    #803cff 85%,
    #ffffff 96%
  );
}

.intro {
  margin: auto 0;
}
.heading {
  padding-top: 30px;
  font-family: "Ailerons";
  font-weight: 500;
  font-size: 5rem;
  color: black;
  text-transform: uppercase;
}
.sub-heading {
  font-family: "Ailerons";
  font-weight: 300;
  font-size: 1.5rem;
  padding: 10px 0;
  color: #2e2e2e;
}
#Skill{
  padding: 30px 0;
}
.skill-logo {
  height: 100px;
  width: auto;
  display: flex;
  margin: 50px auto;
}

.skill-list-item {
  display: block;
}

.skill-group {
  display: block;
  border-radius: 25px;
  padding: 20px 20px 5px;
  margin: 20px auto;
}

.skill-group h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.skill-group p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding: 5px 0;
  color: rgb(63, 63, 63);
}

.skill-group.group-1 {
  background-color: antiquewhite;
}
.skill-group.group-2 {
  background-color: rgb(255, 221, 221);
  margin-top: 40px;
}
.skill-group.group-3 {
  background-color: rgb(200, 226, 255);
}
.skill-group.group-4 {
  background-color: rgb(200, 255, 229);
  margin-top: 40px;
}
.skill-group.group-5 {
  background-color: rgb(244, 200, 255);
}
.skill-group.group-6 {
  background-color: rgb(247, 255, 200);
  margin-top: 40px;
}

.fa-arrow-circle-right {
  margin-right: 8px;
  color: #383838;
}

.gradient-circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
  z-index: 50;
}
.about-img {
  border-radius: 50%;
  width: 320px;
  margin: 50px auto;
  position: relative;
  display: flex;
}

.about-spots {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 55;
  width: 450px;
  height: 450px;
  margin-top: -20px;
  animation: spots 10s infinite linear;
  overflow: hidden;
}
@keyframes spots {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-text {
  font-family: "Ailerons";
  font-weight: 500;
  font-size: 5rem;
  color: rgb(19, 19, 19);
  text-transform: uppercase;
  text-align: center;
}
.about-text span {
  color: #f8e329;
}

.about-body{
  font-family: 'Lato',sans-serif;
  line-height: 26px;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
}

#contact{
  background-color: #303030;
}

.contact-details{
  height: 500px;
  max-width: 350px;
  width: auto;
  background-color: #803cff;
  margin: auto;
  margin-top: -40px;
}
form{
  width: 80%;
  margin: auto;
}

form.contact-form {
  margin-top: 40px;
}
form.contact-form .form-group {
  margin-bottom: 30px;
}
form.contact-form .form-group .form-control{
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid yellow;
}

form button{
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  padding: 8px 30px;
  background-color: transparent;
  color: #e6ff04;
  border: 1px solid transparent;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
form button:hover{
  background-color: #e8ff1b;
  color: #000000;
  box-shadow: 0 0 25px rgb(255, 255, 42),0 0 50px yellow,0 0 75px yellow,0 0 100px rgb(255, 255, 100);
}

@keyframes animate1{
  from{left: -100%}
  to{left: 100%}
}
form button span:nth-child(1){
position: absolute;
top:0;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, yellow);
animation: animate1 1s infinite ;
animation-delay: .2s;
}

@keyframes animate2{
  from{left: 100%}
  to{left: -100%}
}
form button span:nth-child(2){
position: absolute;
bottom:0;
width: 100%;
height: 2px;
background: linear-gradient(-90deg, transparent, yellow);
animation: animate2 1s infinite ;
animation-delay: .75s;
}

@keyframes animate3{
  from{top: -100%}
  to{top: 100%}
}
form button span:nth-child(3){
position: absolute;
right:0;
height: 100%;
width: 2px;
background: linear-gradient(180deg, transparent, yellow);
animation: animate3 1s infinite ;
animation-delay: .5s;
}

@keyframes animate4{
  from{bottom: -100%}
  to{bottom: 100%}
}
form button span:nth-child(4){
position: absolute;
left:0;
height: 100%;
width: 2px;
background: linear-gradient(360deg, transparent, yellow);
animation: animate4 1s infinite ;
animation-delay: 1s;
}


#contact .about-text{
  color: white;
}

@media screen and (max-width: 768px) {
  #Home img {
    margin: 0 auto;
    padding: 50px 10% 0;
    float: none;
  }
  .navbar {
    background: white;
  }
  .heading {
    font-size: 3rem;
  }
  .gradient-circle {
    width: 260px;
    margin-top: -20px;
  }
  .about-img {
    width: 220px;
    
    margin-top: auto;
  }
  .about-spots {
    width: 320px;
    height: 320px;
    margin-top: -60px;
  }
  .about-text {
    font-size: 4rem;
  }
}

@media screen and (max-width: 425px) {
  
  .gradient-circle {
    width: 220px;
    margin-top: -20px;
  }
  .about-img {
    width: 180px;
    margin-top: auto;
  }
  .about-spots {
    width: 280px;
    height: 280px;
    margin-top: -50px;
  }
  .about-text {
    margin-top: 25px;
    font-size: 3rem;
  }
}

